@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
/* h1{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

html{
    font-size: 10px;
}

p{
    font-size: 1.5em;
     line-height: 1.5em; 
}*/

div{
    font-size: 20px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}

div span{
     font-size: 70%;
}

p{
    font-size: 1.5em;
    font-style:oblique;
    font-weight: bold;
}

h1{
    font-weight: lighter;
}