*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#fff ;
}
html{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif
}

/*Navbar*/
#navbar{
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar ul li a{
    padding: 0.5rem; 
 }
 #navbar ul li a:hover{
   background-color:cornflowerblue ;
   border-radius: 5px;
}

/*Home Bölümü*/
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    padding: 2rem;
    border-bottom:1px solid gray;
}

#home img{
    
    max-width:100% ;
    height: auto;
    border-radius:100%;
}

#home .name h2{
    margin-bottom: 0.75rem;
}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}
/*Event bölümü*/
#event{
    color: #fff;
    padding: 1rem;
}

#event .items{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

#event .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}

#event .items .item:hover{
    color:cornflowerblue;
}

/*Photo*/

#photo{
    color:rgb(18, 42, 85) ;
    padding: 1rem;
}

.album{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.album .photo{
    display: flex;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.album .photo .album-image{
    margin-right: 0.5rem;
    position: relative;
}
.album .photo .album-image img{
    border-radius:10px ;
    width: 250px;
}
.album .photo .album-image span{
    background-color:#062e51;
    color: #fff;
    border-radius: 5px;
    padding: 0.25rem;
    position:absolute;
    top: 0;
    left: 0;
}

.album .photo .photo-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
}
.album .photo .photo-info .decription{
    letter-spacing: 1.2px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.album .photo .photo-info .instructor{
    letter-spacing: 0.8px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}
.album .photo .photo-info .raiting{
    letter-spacing: 0.8px;
    margin-bottom: 0.25rem;
    opacity: 0.6;
}

#contact{
    color: #fff;
    padding: 1rem;
}

#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;

}
#contact .contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover{
    opacity: 0.8;
}