#navbar{
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;/*taşmayı engellemk için kullanılıyor.*/
    height: 90px;
    width: 100%;
}

#event .items{
    flex-direction: column;
}
#event .items .item{
    width: 100%;
}

.album .photo{
    flex-direction: column;
}
.album .photo .album-image img{
    margin-left: 0;
    max-width: 310px;
}
